.inline-pls {
  display: inline;
}

.chip-background {
  background-image: url('images/parallax1.jpg');
  background-size: 1920px;
}

.parallax-container {
  height: 500px;
}

.bold-text {
  font-weight: bold;
}
