.inline-pls {
  display: inline;
}

.parallax-container {
  height: 320px;
}

.bold-text {
  font-weight: bold;
}

.parallax{
  position:static;
}

.to-the-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
