<div class="card-panel grey z-depth-2">
    <span class="white-text">When you work with me, you get:</span>
    <ul class="collection">
        <li class="collection-item bold-text">Straightforward communication, delivered in a dulcet baritone when possible</li>
        <li class="collection-item bold-text">Years of technology leadership experience in a convenient man-sized package</li>
        <li class="collection-item bold-text">Extensive firsthand knowledge of the SDLC and agile methodologies, particularly scrum</li>
        <li class="collection-item bold-text">A passion for solving problems. The NP-harder the better</li>
    </ul>
</div>
